@charset "UTF-8";
body{
    font-size:1em;
}
.observable__container{
}
.observable{
    display:flex;
    flex-direction:row;
    margin-top:3em;
    border: 1px solid black;
}
.circle{
    width: 240px;
    height: 240px;
    -moz-border-radius: 130px; 
    -webkit-border-radius: 130px; 
    border-radius: 130px;
    margin:3em;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.circle p{
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:row;
}
.flash{

}
.signal{
    color:#fff;
    
}
.success{
    background: #006633;
}
.error{
    background: #660000;
}
.completed{
    background: #0066CC;
}
.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
